[user]
	name = Faris Chebib
	email = faris.chebib@invitae.com
	# TODO
	# signingkey = 25E5DD9E5DAC070F
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[alias]
	please = push --force-with-lease
[alias]
    # common operations
    cp = cherry-pick
    ci = commit
    co = checkout
    br = branch
    undo-commit = reset --soft HEAD~1
    # log as a graph
    graph = log --graph --oneline --decorate --all
    # one-line log
    l = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short
    # one-line log with list of files changed
    ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
    # set the upstream
    sup = "!f() { git branch --set-upstream-to=$1/`git symbolic-ref --short HEAD`; }; f"
    # cleanup old branches
    audit = "!git branch --merged | grep -v '\\*\\|master\\|develop\\|release-'"
    clean-audit = "!git branch --merged | grep -v '\\*\\|master\\|develop\\|release-' | xargs -n 1 git branch -d"
    # squash the currently staged files into the previous commit
    # note that if you have already pushed the branch, you will probably
    # need to push with `git push -f`
    fixup = "!git commit --amend"
    # sort branches by last update
    b = "!git for-each-ref --sort='-authordate' --format='%(authordate)%09%(objectname:short)%09%(refname)' refs/heads | sed -e 's-refs/heads/--'"
    # list git aliases
    la = "!git config -l | grep alias | cut -c 7-"

[commit]
	# TODO
	#gpgsign = true
[core]
	editor = vim
[pull]
	ff = only

